<ul>
  <li>
    <a href="/people">People</a>
    <ul>
      <li>Basic CRUD</li>
      <li>No Rails helpers (well, almost none)</li>
    </ul>
  </li>
  <li>
    <a href="/trees">Trees</a>
    <ul>
      <li>Basic CRUD with validations</li>
      <li>No Rails helpers (well, almost none)</li>
    </ul>
  </li>
  <li>
    <%= link_to "Gadgets", gadgets_path %>
    <ul>
      <li>Basic CRUD with validations</li>
      <li>Lots of Rails helpers (form_for, link_to, named routes etc...)</li>
      <li>Makes use of user-defined <code>format_gadget_price</code> helper method</li>
    </ul>
  </li>
  <%= content_tag :li do %>
    <%= link_to "Divas", Diva %>
    <%= content_tag :ul do %>
      <%= content_tag :li, "Basic CRUD with validations" %>
      <%= content_tag :li, "More Rails helpers (implicit routes, content_tag, partials)" %>
    <% end %>
  <% end %>
</ul>
